root{
/* ## Colors */

/* ### Primary */
 /* (intro and email sign up background) */
--navy-850: hsl(217, 28%, 15%);
 /* (main background) */
-navy-900: hsl(218, 28%, 13%);
 /* (footer background */
--navy-950: hsl(216, 53%, 9%);
 /* (testimonials background) */
--navy-800: hsl(219, 30%, 18%);

/* ### Accent */
 /* (inside call-to-action gradient) */
-teal-200: hsl(176, 68%, 64%);
 /* (inside call-to-action gradient) */
--cyan-500: hsl(198, 60%, 50%);
/* (error) */
--red-500: hsl(0, 100%, 63%);

/* ### Neutral */

--white: hsl(0, 0%, 100%);
}